/* /Components/LEDMatrix.razor.rz.scp.css */
.led-matrix[b-ewizjrd0aq] {
    border: 1px solid black;
    display: inline-block;
}

.button-row[b-ewizjrd0aq] {
    margin: 0;
    border: 0;
    padding: 0;
    line-height: 0;
}

button[b-ewizjrd0aq] {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: #04AA6D; /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
