@import 'SpawnDev.MatrixLEDDisplay.w4qv49szkg.bundle.scp.css';

/* /Layout/AppTray/AppTrayArea.razor.rz.scp.css */

.app-tray-area[b-ep6eoklj45] {
    border-radius: 0.5rem;
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
}

.app-tray-icon[b-ep6eoklj45] {
    position: relative;
    height: 36px;
    min-width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 0;
}

    .app-tray-icon:hover[b-ep6eoklj45] {
        background-color: #ffffff12;
    }

.app-tray-icon-tltext[b-ep6eoklj45] {
    top: 0;
    right: 0;
    min-width: 1.2rem;
    position: absolute;
    padding: 0 0.2px;
    background-color: #770000cc;
    border: 1px solid #808080;
    border-radius: 10px;
    text-align: center;
}

    .app-tray-icon-tltext:empty[b-ep6eoklj45] {
        display: none;
    }
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-54sc4du38x] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-54sc4du38x] {
    flex: 1;
}

.sidebar[b-54sc4du38x] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-54sc4du38x] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-54sc4du38x]  a, .top-row[b-54sc4du38x]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-54sc4du38x]  a:hover, .top-row[b-54sc4du38x]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-54sc4du38x]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-54sc4du38x] {
        justify-content: space-between;
    }

    .top-row[b-54sc4du38x]  a, .top-row[b-54sc4du38x]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-54sc4du38x] {
        flex-direction: row;
    }

    .sidebar[b-54sc4du38x] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-54sc4du38x] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-54sc4du38x]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-54sc4du38x], article[b-54sc4du38x] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Pages/MatrixDisplayControl.razor.rz.scp.css */
.display-control[b-pt1ez207rp]  i {
    margin: 0;
}
/* /Pages/MediaItem.razor.rz.scp.css */
.media-library-item[b-109u8fw106] {
    background-color: transparent;
    border-radius: 0.5rem;
}

    .media-library-item:hover[b-109u8fw106] {
        background-color: #80808080;
    }
/* /UI/UIButton.razor.rz.scp.css */
button[b-322l7xghr8] {
    padding: 4px 2px 2px 2px;
    margin: 0;
    border-radius: 1.5em;
    vertical-align: middle;
    border: 0;
    color: #dddddd;
    background-color: #120101;
    cursor: pointer;
}

    button:hover[b-322l7xghr8] {
        background-color: #191616;
    }

    button:active[b-322l7xghr8] {
        background-color: #393636;
    }

    button[disabled][b-322l7xghr8] {
        opacity: 0.2;
        cursor: auto;
    }
        button[disabled]:hover[b-322l7xghr8] {
            background-color: #120101;
        }

        button[disabled]:active[b-322l7xghr8] {
            background-color: #120101;
        }
/* /UI/UIIcon.razor.rz.scp.css */
div[b-ksj3nl5zwn] {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
/* /UI/UILink.razor.rz.scp.css */


a[b-rl2e0zdwex] {
    padding: 4px 2px 2px 2px;
    margin: 0;
    border-radius: 0.25em;
    vertical-align: middle;
    border: 0;
    color: #dddddd;
    cursor: pointer;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
    display: inline-block;
}

    a:hover[b-rl2e0zdwex] {
        background-color: #191616;
    }

    a:active[b-rl2e0zdwex] {
        background-color: #393636;
    }

    a[disabled][b-rl2e0zdwex] {
        opacity: 0.2;
        cursor: auto;
    }
        a[disabled]:hover[b-rl2e0zdwex] {
            background-color: #120101;
        }

        a[disabled]:active[b-rl2e0zdwex] {
            background-color: #120101;
        }
/* /UI/UIToggle.razor.rz.scp.css */
.ui-toggle[b-2c5ssvaf7z] {
    padding: 0;
    width: 36px;
    height: 36px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
}

.ui-toggle-inner[b-2c5ssvaf7z] {
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
}

[b-2c5ssvaf7z] .ui-toggle-inner > * {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.ui-toggle-progress[b-2c5ssvaf7z] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    padding: 4px !important;
    border-radius: 50%;
    box-sizing: border-box;
}


button[b-2c5ssvaf7z] {
    padding: 4px 2px 2px 2px;
    margin: 0;
    border-radius: 1.5em;
    vertical-align: middle;
    border: 0;
    color: #dddddd;
    background-color: #120101;
    cursor: pointer;
}

    button > div[b-2c5ssvaf7z] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    button:hover[b-2c5ssvaf7z] {
        background-color: #191616;
    }

    button:active[b-2c5ssvaf7z] {
        background-color: #393636;
    }

    button[disabled][b-2c5ssvaf7z] {
        opacity: 0.2;
        cursor: auto;
    }

        button[disabled]:hover[b-2c5ssvaf7z] {
            background-color: #120101;
        }

        button[disabled]:active[b-2c5ssvaf7z] {
            background-color: #120101;
        }


.busy-ring[b-2c5ssvaf7z] {
    mask: conic-gradient(#0000,#000) subtract, linear-gradient(#000 0 0) content-box;
    animation: busySpinner-b-2c5ssvaf7z 2s linear infinite;
    background: #07e8d6 !important; /* the color */
}

@keyframes busySpinner-b-2c5ssvaf7z {
    to {
        transform: rotate(1turn)
    }
}
