

a {
    padding: 4px 2px 2px 2px;
    margin: 0;
    border-radius: 0.25em;
    vertical-align: middle;
    border: 0;
    color: #dddddd;
    cursor: pointer;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
    display: inline-block;
}

    a:hover {
        background-color: #191616;
    }

    a:active {
        background-color: #393636;
    }

    a[disabled] {
        opacity: 0.2;
        cursor: auto;
    }
        a[disabled]:hover {
            background-color: #120101;
        }

        a[disabled]:active {
            background-color: #120101;
        }